<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="./assets/css/styles.css">


<body>
    <%- include('navbar') %>



        <section class="container-lampada">
            <div class="haste-lampada">
                <div class="bocal-lampada">
                    <span class="brilho-luz"></span>
                    <div class="luz"></div>
                </div>
            </div>


        </section>



        <div class="carcaca-pc">
            <div class="tela">
                <img src="/src/imgs/svgs/telapc.svg" alt="">
            </div>
            <div class="base"></div>
            <div class="prateleira-pc">
                <img id="flor-mario" src="/src/imgs/svgs/flormario.svg" alt="">
                <img id="bloco-mario" src="/src/imgs/svgs/blocomario.svg" alt="">

            </div>
        </div>



        <article class="container-apresentacao">
            <h1>Gabriel Zaparolli</h1>
            <p class="alternar-escrita"></p>
        </article>

        </header>






        <div class="click-container"></div> <!--Script splash-->
        <script src="./assets/js/bundle.js"></script>
        <script src="https://kit.fontawesome.com/0c81659ef6.js" crossorigin="anonymous"></script>

</html>