/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (1) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,4000,7000,9001,4001,7001,900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (2) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (3) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (4) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,4000,7000,9001,4001,7001,900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (5) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (6) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (7) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,4000,7000,9001,4001,7001,900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (8) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (9) ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (10) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,4000,7000,9001,4001,7001,900&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (11) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (12) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (13) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,4000,7000,9001,4001,7001,900&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (14) ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.sass (15) ***!
  \********************************************************************************************************************/
:root {
  --cor-texto: #000;
  --texto-desenvolvedor: #000;
  --escuro-projetos: rgba(82, 81, 81, 0.4784313725);
  --backgroud-navbar: rgba(253, 253, 253, 0.8);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

body.modo-escuro {
  --cor-texto: #fff;
  --texto-desenvolvedor: #fff;
  --escuro-projetos: rgba(15, 13, 13, 0.537254902);
  --backgroud-navbar: rgba(5, 4, 4, 0.6705882353);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

@keyframes falhaLuz {
  0% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  10% {
    background-color: #6b6448;
    opacity: 0.8;
  }
  20% {
    background-color: #6b6448;
    opacity: 0.4;
  }
  30% {
    background-color: #6b6448;
    opacity: 1;
  }
  40% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  50% {
    background-color: #6b6448;
    opacity: 0.6;
  }
  60% {
    background-color: #6b6448;
    opacity: 0.2;
  }
  70% {
    background-color: #6b6448;
    opacity: 1;
  }
  80% {
    background-color: #6b6448;
    opacity: 0.8;
  }
  90% {
    background-color: #6b6448;
    opacity: 0.5;
  }
  100% {
    background-color: #6b6448;
    opacity: 1;
  }
}
@keyframes borda-navbar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes retirar-borda-navbar {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
@keyframes piscar-cursor {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #089e7b;
  }
}
.darkmode {
  position: relative;
  display: flex;
  align-items: center;
}

.fa-solid {
  margin-right: -10px;
  font-size: 1.3em;
  transition: transform 0.4s ease;
}

.btn-container {
  width: 60px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.4745098039);
  border-radius: 20px;
  transition: opacity 0.6s ease, transform 0.6s ease;
  cursor: pointer;
}
.btn-container button {
  position: relative;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: opacity 0.6s ease, transform 0.6s ease;
  cursor: pointer;
}

.modo-escuro .about-skills {
  background-color: #4B3621;
  position: relative;
}

.modo-claro .about-skills {
  background-color: #eab784;
}

.modo-escuro .backgroud-habilidades {
  background-color: #0f0227;
}

.modo-claro .backgroud-habilidades {
  background-color: #7f65ad;
}

.modo-escuro .backgroud-projetos {
  background-color: #410345;
}

.modo-claro .backgroud-projetos {
  background-color: #4c5c79;
}

.esquerda {
  background-color: #29272a;
  position: absolute;
  width: 40%;
  height: 100vh;
  z-index: -999999;
}

.direita {
  background-color: #192919;
  position: absolute;
  width: 60%;
  height: 100vh;
  right: 0;
  z-index: -999999;
}

.esquerda-claro {
  background-color: #e1e1da;
  position: absolute;
  width: 40%;
  height: 100vh;
  z-index: -999999;
}

.direita-claro {
  background-color: #95b8a4;
  position: absolute;
  width: 60%;
  height: 100vh;
  right: 0;
  z-index: -999999;
}

.carcaca-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20%;
  top: 328px;
  width: 300px;
  height: 160px;
  background-color: #211f1f;
  border-radius: 8px 8px 0px 0px;
}
.carcaca-pc::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 15%;
  left: 0;
  position: absolute;
  bottom: -25px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #000;
}
.carcaca-pc::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background-color: #000000;
  z-index: 999999;
}
.carcaca-pc .tela {
  width: 93%;
  height: 88%;
}

.tela img {
  position: relative;
  z-index: 99999;
}

.base {
  position: absolute;
  bottom: -34px;
}
.base::before {
  content: "";
  position: absolute;
  clip-path: polygon(7% 0, 94% 0, 100% 100%, 0% 100%);
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 25px;
  background-color: rgba(51, 51, 51, 0.7607843137);
}
.base::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  top: 15px;
  width: 90px;
  height: 5px;
  background-color: #5d5858;
  border-radius: 20px;
}

.container-lampada {
  position: relative;
  left: 23%;
  transform: translateX(-50%);
  top: -20px;
}

.haste-lampada {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  width: 4px;
  height: 120px;
  background-color: #005431;
  border: 2px solid rgba(19, 162, 84, 0.7960784314);
  border-top: 0px;
  border-bottom: 0px;
}
.haste-lampada::before {
  content: "";
  width: 12px;
  height: 10px;
  background-color: #005431;
  position: absolute;
  bottom: 0;
  border: 2px solid rgba(19, 162, 84, 0.7960784314);
  border-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
}
.haste-lampada::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #005431;
  position: absolute;
  bottom: -28px;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid rgba(19, 162, 84, 0.7960784314);
  border-bottom: 0px;
}

.bocal-lampada {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #005431;
  position: absolute;
  bottom: -75px;
  border-radius: 40px 40px 0px 0px;
  border: 2px solid rgba(19, 162, 84, 0.7960784314);
  border-bottom: 0px;
  display: flex;
  justify-content: center;
}
.bocal-lampada::before {
  content: "";
  width: 100px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background-color: #037646;
  border: 2px solid rgba(19, 162, 84, 0.7960784314);
  z-index: 99999;
}

.brilho-luz {
  width: 400px;
  height: 370px;
  background-color: #6b6448;
  position: absolute;
  bottom: -23em;
  clip-path: polygon(43% 0, 57% 0, 100% 100%, 0% 100%);
  animation: falhaLuz 0.5s ease-in-out forwards;
  z-index: -999;
}

.luz {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 40px;
  height: 20px;
  background-color: #ffee00;
  border-radius: 0px 0px 20px 20px;
  z-index: -2;
}

.prateleira-pc {
  position: absolute;
  bottom: -70px;
  border-radius: 25px;
  width: 40em;
  height: 15px;
  background-color: #642d0a;
}
.prateleira-pc #flor-mario {
  position: absolute;
  right: 140px;
  bottom: 11px;
}
.prateleira-pc #bloco-mario {
  position: absolute;
  bottom: 8px;
  left: 90px;
}

:root {
  --cor-texto: #000;
  --texto-desenvolvedor: #000;
  --escuro-projetos: rgba(82, 81, 81, 0.4784313725);
  --backgroud-navbar: rgba(253, 253, 253, 0.8);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

body.modo-escuro {
  --cor-texto: #fff;
  --texto-desenvolvedor: #fff;
  --escuro-projetos: rgba(15, 13, 13, 0.537254902);
  --backgroud-navbar: rgba(5, 4, 4, 0.6705882353);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

.container-abouSkills {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-abouSkills img {
  position: relative;
  top: 5%;
  transition: 1.5s ease;
  transform: scale(0.7);
}

.container-sobre {
  width: 40vw;
  height: 50%;
  min-height: 40%;
  font-size: 1.5em;
  position: relative;
  top: 25%;
  font-family: "Itim";
  line-height: 1.8;
  border-radius: 25px;
  text-align: left;
  margin-left: 20px;
}

.titulo-sobremim {
  color: #efab00;
}

:root {
  --cor-texto: #000;
  --texto-desenvolvedor: #000;
  --escuro-projetos: rgba(82, 81, 81, 0.4784313725);
  --backgroud-navbar: rgba(253, 253, 253, 0.8);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

body.modo-escuro {
  --cor-texto: #fff;
  --texto-desenvolvedor: #fff;
  --escuro-projetos: rgba(15, 13, 13, 0.537254902);
  --backgroud-navbar: rgba(5, 4, 4, 0.6705882353);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

.habilidades {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
}

.txt-habilidades {
  width: 40%;
  height: 30%;
  margin-left: 60px;
  position: relative;
  top: 80px;
}

.titulos {
  display: flex;
  margin-bottom: 3px;
  justify-content: center;
  font-family: "Itim";
}

.titulos-alto {
  font-size: 2.3em;
}

.titulo-habilidades {
  color: #003b62;
}

.soft-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Itim";
}
.soft-skills p {
  font-size: 1.3em;
}
.soft-skills p i {
  margin-right: 20px;
}
.soft-skills h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ta {
  border-bottom: 2px solid var(--cor-texto);
  display: inline-block;
}

.soft-skills p, h2, h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.sobre-habilidades {
  font-family: "Itim";
  font-size: 1.4em;
}

.fa-angles-right {
  color: #00195e;
}

.listas-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.ul-habilidades-um, .ul-habilidades-dois {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  margin-left: -40px;
}

.icones-skills {
  position: absolute;
  right: 0;
  top: 12%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 40%;
  margin-top: 20px;
}

.icones-info {
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2em;
  font-family: "Itim";
}

.icones-info i {
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-html5:hover {
  color: #e34c26;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-css3-alt:hover {
  color: #264de4;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-js:hover {
  color: #f7df1e;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-react:hover {
  color: #61dafb;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-node-js:hover {
  color: #68a063;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-sass:hover {
  color: #cf649a;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-info i.fa-bootstrap:hover {
  color: #7952B3;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

:root {
  --cor-texto: #000;
  --texto-desenvolvedor: #000;
  --escuro-projetos: rgba(82, 81, 81, 0.4784313725);
  --backgroud-navbar: rgba(253, 253, 253, 0.8);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

body.modo-escuro {
  --cor-texto: #fff;
  --texto-desenvolvedor: #fff;
  --escuro-projetos: rgba(15, 13, 13, 0.537254902);
  --backgroud-navbar: rgba(5, 4, 4, 0.6705882353);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

.projetos {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-projetos {
  display: flex;
  flex-direction: column;
  top: 8%;
  position: absolute;
}
.titulo-projetos::after {
  content: "";
  background-color: #fff;
  width: 70vw;
  height: 3px;
  bottom: 0;
}

.titulo-projetos-alto {
  color: #00c489;
}

.container-projetos {
  background-color: var(--escuro-projetos);
  width: 25%;
  height: 70%;
  top: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.fundo-projetos {
  width: 90%;
  height: 40%;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 15px;
}

.abrigo-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.abrigo-projetos img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
}

.text-projetos {
  margin-right: 10px;
  margin-top: 15px;
  width: 90%;
  height: auto;
  font-family: "Itim";
}
.text-projetos h2 {
  margin: 0;
  border-bottom: 2px solid #fff;
  font-size: 1.4em;
}

.btn-link-site {
  position: absolute;
  bottom: 0;
  left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 10;
}
.btn-link-site button {
  width: 100%;
  height: 40px;
  background-color: #055a6f;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: var(--cor-texto);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-family: "Itim";
  font-size: 1.2em;
}

.btn-link-site button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.skills-projeto {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  right: 10px;
}

.skills-projeto i {
  position: relative;
  cursor: pointer;
}
.skills-projeto i.fa-html5:hover {
  color: #e34c26;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-css3-alt:hover {
  color: #264de4;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-js:hover {
  color: #f7df1e;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-react:hover {
  color: #61dafb;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-node-js:hover {
  color: #68a063;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-sass:hover {
  color: #cf649a;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.skills-projeto i.fa-bootstrap:hover {
  color: #7952B3;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

:root {
  --cor-texto: #000;
  --texto-desenvolvedor: #000;
  --escuro-projetos: rgba(82, 81, 81, 0.4784313725);
  --backgroud-navbar: rgba(253, 253, 253, 0.8);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

body.modo-escuro {
  --cor-texto: #fff;
  --texto-desenvolvedor: #fff;
  --escuro-projetos: rgba(15, 13, 13, 0.537254902);
  --backgroud-navbar: rgba(5, 4, 4, 0.6705882353);
  --escuro-modal: rgba(0, 0, 0, 0.7411764706);
}

.modal-contatos-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--escuro-modal);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #0d2a00;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50%;
  height: 50%;
  position: relative;
}

.fechar-modal {
  position: absolute;
  margin-right: 30px;
  right: 0;
  color: #fff;
  display: flex;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.fechar-modal:hover {
  color: #ff0808;
}

.modal-ativo {
  display: flex;
}

.tituulo-form-contatos {
  font-family: "Itim";
  font-size: 1.9em;
  text-align: center;
  position: relative;
  color: #fff;
}
.tituulo-form-contatos::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 40vw;
  height: 3px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.container-dados-ctt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 90%;
  height: 100%;
  margin-top: -5%;
}

.dados-inicias-ctt {
  display: flex;
  flex-direction: column;
}

.remetente, .contato-assunto {
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  text-align: center;
}

.contato-corpo {
  display: flex;
  width: 50%;
  height: 50%;
  border-radius: 25px;
  text-align: center;
}

.enviar-ctt {
  border-radius: 25px;
  height: 30px;
  border: none;
  background-color: #0e6f28;
  position: relative;
}
.enviar-ctt:hover {
  background-color: #00af2f;
}

.form-contato {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icones-ctt {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.icones-ctt a {
  color: #fff;
  font-size: 1.6em;
}

.icones-ctt a i.fa-linkedin:hover {
  color: #0077B5;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-ctt a i.fa-envelope:hover {
  color: #D44638;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-ctt a i.fa-whatsapp:hover {
  color: #25D366;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.icones-ctt a i.fa-github:hover {
  color: #181717;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: var(--cor-texto);
  overflow-x: hidden;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container-navbar {
  position: fixed;
  background-color: transparent;
  right: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99999999999;
  transition: background-color 0.3s ease-in-out;
}
.container-navbar.navbar-scroll {
  background-color: var(--backgroud-navbar);
}
.container-navbar .navbar {
  display: flex;
  gap: 30px;
  margin-right: 40px;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 20px;
  font-family: "Itim";
}
.logo a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--cor-texto);
}
.logo h1 {
  color: #089e7b;
  font-size: 2em;
}

a.link-navbar {
  position: relative;
  text-decoration: none;
  font-family: "Itim";
  font-size: 1.3em;
  color: inherit;
  transition: 0.3s ease-in-out;
}
a.link-navbar:hover {
  transform: scale(1.3);
}
a.link-navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #005431;
  border-radius: 25px;
  transition: width 0.3s ease-in-out;
}

.link-navbar.borda-ativa::after {
  animation: borda-navbar 0.5s forwards;
}

.link-navbar.retirar-borda::after {
  animation: retirar-borda-navbar 0.5s forwards;
}

.container-apresentacao {
  position: relative;
  right: -55%;
  top: 5%;
  max-width: 30%;
  white-space: nowrap;
  z-index: 1;
}
.container-apresentacao h2 {
  font-size: 2.5em;
  font-family: "Itim";
}
.container-apresentacao h1 {
  position: relative;
  top: 10%;
  right: 50px;
  display: block;
  font-size: 3.5em;
  font-family: "Itim";
  border-bottom: 2px solid #fff;
}

.alternar-escrita {
  position: relative;
  font-size: 3.3vw;
  color: #089e7b;
  font-weight: bold;
  top: -40px;
  right: 50px;
  animation: digitando 0.5s ease;
  display: inline-block;
  border-right: 2px solid #089e7b;
  animation: piscar-cursor 0.7s steps(1) infinite;
  font-size: 3em;
  font-family: "Itim";
}
.alternar-escrita::before {
  content: "Desenvolvedor";
  font-weight: normal;
  color: var(--texto-desenvolvedor);
  margin-right: 10px;
  display: inline-block;
}

.click-container {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10000000000000000000000;
  top: 0;
  left: 0;
}
.click-container .splash {
  position: absolute;
  animation: fadeOut 2s forwards;
  opacity: 1;
  transform: scale(1);
}
.click-container .splash img {
  width: 50px;
  height: 50px;
  pointer-events: none;
  color: #fff;
}

.animar-lado {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.animar-lado.ativo {
  opacity: 1;
  transform: translateX(0);
}

.animar-lado-esquerdo {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.animar-lado-esquerdo.ativo-esquerdo {
  opacity: 1;
  transform: translateX(0);
}

.redes-sociais-home {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 10px;
  margin-left: 10px;
  font-family: "Itim";
}
.redes-sociais-home a {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: var(--cor-texto);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  text-decoration: none;
  gap: 10px;
}
.redes-sociais-home a span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-bottom: 2px solid var(--cor-texto);
}
.redes-sociais-home a:hover {
  transform: scale(1.2);
}
.redes-sociais-home a:hover span {
  opacity: 1;
  visibility: visible;
}
.redes-sociais-home a:last-child {
  gap: 20px;
}
.redes-sociais-home a i.fa-linkedin:hover {
  color: #0077B5;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.redes-sociais-home a i.fa-envelope:hover {
  color: #D44638;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.redes-sociais-home a i.fa-whatsapp:hover {
  color: #25D366;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.redes-sociais-home a i.fa-github:hover {
  color: #181717;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.redes-sociais-home a i.fa-download:hover {
  color: #007bff;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/*# sourceMappingURL=styles.css.map*/